.card {
   
    margin-bottom: 0.875em;
  
    padding: 0;
    border: 0px solid transparent;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}
.card {
    border-radius: 2px !important;
    background-color: #f7f6f6;
    border: 1.5px solid #b0bec5;
 
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;  
    margin-left: 10px;
    margin-right: 10px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1.5px solid #b0bec5;
}

b, strong {
    font-weight: bolder;
    font-size: 20px;
}

.card .card-body {
    background-color: #f7f6f6;
    float: left;
    padding: 1.25em;
    position: relative;
    width: 100%;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}
.hr-mr {
    background-color: #b0bec5;
    height: 1px;
    border: none;
    margin: 4px 0;
    margin-bottom: 8px !important;
}
.hr-spacing-s {
    margin: 5px 0;
}
h5 {
    margin-top: 0px;
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
    
    font-weight: bold;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 550;
}
.form-group {
    margin-bottom: 1px;
}
/*label {
    font-family: Nunito;
    font-size: 12px;
}*/




