@model AutoSherpa_project.Models.wyzuser
@{
    ViewBag.Title = "creDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("uploadWyzuserFile", "SuperAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <b>CRE Details</b>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><b>Instructions</b></h3>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>The maximum file size for uploads is <strong>5999 KB</strong> </li>
                                        <li>Only file types of xlsx are allowed </li>
                                        <li>Roles -<b> CRE , CREManager </b> </li>
                                        <li>Download the format to upload&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="btn" class="btn btn-info" onclick="DownloadExcel()" title="Sample Format"><i class="glyphicon glyphicon-download"></i>Sample Format</button>                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-6">
                                <table class="table table-striped table-bordered table-hover" id="tbldealerDetails">
                                    <thead>
                                        <tr>
                                            <th>Dealer Name</th>
                                            <th>Dealer Code</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>*@
                    </div><br /><br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal ">
                                <div class="form-group">
                                    <label class="col-md-2" style="font-size:medium">Upload Format</label>
                                    <div class="col-md-3">
                                        <input type="file" name="file" id="uploadFormat" class="form-control " autocomplete="off" />
                                    </div>
                                    <button type="submit" id="download" class="btn btn-success">Upload</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<div class="container-fluide">
    <div class="row">
        <div class="col-lg-12 panelsm">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <b>CRE Details</b>
                </div>
                <div class="panel-body panelsm">
                    <div class="panel panel-default">
                        <ul class="nav nav-tabs">

                            <li class="active bucket" id="li-userDetails" data-bucket="1">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#userDetails" role="tab" aria-controls="profile" aria-selected="false" onclick="GetDetails();">CRE Details<strong><span id="pendFollow" style="color:darkblue"></span></strong></a>
                            </li>
                            <li class="bucket" id="li-uploadDetails" data-bucket="2">
                                <a class="nav-link active" id="uploadDetails-tab" data-toggle="tab" href="#uploadDetails" role="tab" aria-controls="home" aria-selected="true" onclick="GetUploads();">Upload Files<strong><span id="scheduleCounts" style="color:black;"></span></strong></a>
                            </li>
                        </ul>

                        <div class="tab-content" id="Tabs">

                            <div class="panel panel-default tab-pane fade active in" id="userDetails" role="tabpanel" aria-labelledby="userDetails-tab">
                                <div class="row table-responsive">
                                    <div class="col-lg-12">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        <select class="form-control" onchange="GetDetails()" id="ddluserStatus">
                                                            <option value="false">Active</option>
                                                            <option value="true">Deactive</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @*horizontal space*@
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @*horizontal space*@
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <button type="button" style="float:right;" id="btn" class="btn btn-info" onclick="DownloadExcelSheet_CREDetails()" title="Test Format"><i class="glyphicon glyphicon-download"></i>Excel</button>
                                                    </div>
                                                </div>




                                            </div>
                                            <table id="txtcredetails" class="table table-striped table-bordered tblIns table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Manager</th>
                                                        <th>Dealer Name</th>
                                                        <th>Dealer Code</th>
                                                        <th>User Name</th>
                                                        <th>Name</th>
                                                        <th>Password</th>
                                                        <th>Mobile</th>
                                                        <th>IMEI No 1</th>
                                                        <th>IMEI No 2</th>
                                                        <th>Edit</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="uploadDetails" role="tabpanel" aria-labelledby="uploadDetails-tab">
                                <div class="row table-responsive">
                                    <div class="col-lg-12">
                                        <div class="panel-body">
                                            <table id="tbluserUploads" class="table table-striped table-bordered  table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>File Name</th>
                                                        <th>Uploaded File</th>
                                                        <th>Discarde File</th>
                                                        <th>Duplicate Usernames</th>
                                                        <th>Total Records</th>
                                                        <th>Uploaded/Discarded</th>
                                                        <th>Uploaded Date</th>
                                                        <th>Uploaded Time</th>
                                                    </tr>
                                                </thead>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <span class="code" id="tblException" style="font-size:11pt;font-weight:bold;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:580px;">
        <div class="panel-heading" style="color: white; background-color: #3586af; opacity: 100%; text-align: center; ">
            <b>UPDATE PHONE DETAILS</b>                  <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div style="background-color: #fefefe; padding: 30px; opacity: 100%;">
            <div class="form-horizontal col-lg-offset-1">
                <div class="form-group">
                    <label class="col-md-4">Phone Number</label>
                    <div class="col-md-6">
                        <input type="text" id="popUpPhone" class="form-control numberOnly" autocomplete="off" maxlength="10" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4">Password</label>
                    <div class="col-md-6">
                        <input type="text" id="popUpimei" class="form-control numberOnly " autocomplete="off" maxlength="5" />
                    </div>
                </div>
                @*<div class="form-group">
                    <label class="col-md-4">IMEI NO(2)</label>
                    <div class="col-md-6">
                        <input type="text" id="popUpimei1" class="form-control  numberOnly" autocomplete="off" maxlength="5" />
                    </div>
                </div>*@
            </div>
            <input type="hidden" id="txtwyzuserId" />
            <div class="mt-3" align="right">
                <button class="btn btn-success" id="submitPopUp" onclick="updatePhoneAndIMEI();">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="succesupload" role="dialog" data-backdrop="static">
    <div class="modal-dialog" style="width:580px;">
        <div class="panel-heading" style="background-color: #337ab7; color:#fff">
            CRE Upload Details
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div style="background-color: #fefefe;padding: 40px;">
            <table id="tblsuccesfile" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Details</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="pull-right">
                <button type="button" class=" btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{

    @if (ViewBag.isexception == true)
    {
        <script type="text/javascript">
        Lobibox.notify('info', {
            delay: 4 * 2000,
            msg: '@ViewBag.exception'
        });
        </script>
    }

    @if (ViewBag.issuccess == true)
    {
        <script type="text/javascript">

        Lobibox.notify('success', {
            delay: 4 * 2000,
            msg: '@ViewBag.totaluploaded'
        });

    var codePath = window.location.href;
    codePath = codePath.toLowerCase();
            var callIndex = codePath.indexOf('superadmin');
            var callPath = codePath.substr(callIndex, (codePath.length - 1));
            codePath = codePath.replace(callPath, '');
            var discardedPath;
            var uploadedPath;
            var duplicateCREPath;
                var uploadDetails = @Html.Raw(ViewBag.outputtable);

    if (uploadDetails.discardedPath != null) {
        discardedPath = uploadDetails.discardedPath.substr(uploadDetails.discardedPath.indexOf('UploadedFiles'));
        discardedPath = codePath + discardedPath;
        discardedPath = "<a href='" + discardedPath + "' download>Discarde File</a>";
    }
    else {
        discardedPath = "-";
    }
    if (uploadDetails.uploadedPath != null) {
        uploadedPath = uploadDetails.uploadedPath.substr(uploadDetails.uploadedPath.indexOf('UploadedFiles'));
        uploadedPath = codePath + uploadedPath;
        uploadedPath = "<a href='" + uploadedPath + "' download>Uploaded File</a>";
    }
    else {
        uploadedPath = "-";
    }
    if (uploadDetails.duplicateCREPath != null) {
        duplicateCREPath = uploadDetails.duplicateCREPath.substr(uploadDetails.duplicateCREPath.indexOf('UploadedFiles'));
        duplicateCREPath = codePath + duplicateCREPath;
        duplicateCREPath = "<a href='" + duplicateCREPath + "' download>Duplicate File</a>";
    }
    else {
        duplicateCREPath = "-";
    }

 var output=  " <tr><td>File Name</td><td>" + uploadDetails.fileName + "</td></tr>" +
    "<tr><td>Total Records </td><td>" + uploadDetails.totalRecords + "</td></tr>" +
     "<tr><td>Total Uploaded/Discarded </td><td>" + uploadDetails.totalUploaded + "/" + uploadDetails.totalDiscarded + "</td></tr>" +
     "<tr><td>Discarded File </td><td>" + discardedPath + "</td></tr>" +
        "<tr><td>Uploaded File </td><td>"+ uploadedPath +"</td></tr>" +
        "<tr><td>Duplicate Username</td><td>" + duplicateCREPath + "</td></tr>";

    $('#tblsuccesfile tbody').append(output);
            $('#succesupload').modal('show');
        </script>
    }

    <script>
        var succesfileLink;
        var errorfileLink;
        var duplicateusernames;
        $(document).ready(function () {
            GetDetails();
            GetUploads()
            //loadDealerDetails();
            $('form').on('submit', function () {
                $('#mainLoader').css({ 'display': 'block' });
            });
        });
        $('.numberOnly').keypress(function (e) {

            if (isNaN(this.value + "" + "." + String.fromCharCode(e.charCode))) {
                return false;
            }

        });
        function isEmpty(value) {
            return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
        }
        function GetDetails() {
            userStatus=$('#ddluserStatus').val();
            $("#txtcredetails").DataTable(
                {
                    "destroy": true,
                    "ajax": {
                        "url": siteRoot + "/SuperAdmin/creGetDetails",
                        "type": "GET",
                        "datatype": "json",
                        "data": { userStatus: userStatus},
                        "error": function (xhr, error, thrown) { console.log(xhr, error, thrown); }
                    },
                    "columns": [
                        { "data": "creManager", },
                        { "data": "dealerName" },
                        { "data": "herodealer_Code" },
                        { "data": "userName" },
                        { "data": "firstName" },
                        { "data": "password" },
                        { "data": "phoneNumber" },
                        { "data": "phoneIMEINo" },
                        { "data": "phoneIMEINo1" },
                        {
                          
                            "data": "Action", render: function (data, type, row) {
                                var phoneNumber = row.phoneNumber;
                                var phoneIMEINo = row.phoneIMEINo;
                                var phoneIMEINo1 = row.phoneIMEINo1;

                                if (!(isEmpty(phoneNumber)))
                                {
                                    phoneNumber = phoneNumber.trim();
                                }
                                if (!(isEmpty(phoneIMEINo))) {
                                    phoneIMEINo = phoneIMEINo.trim();
                                }
                                if (!(isEmpty(phoneIMEINo1))) {
                                    phoneIMEINo1 = phoneIMEINo1.trim();
                                }
                                return '<a class="btn btn-info" href="javascript:void(0);" onclick="openpopupmodal(' + row.id + ',\'' + phoneNumber + '\' ,\'' + phoneIMEINo + '\',\'' + phoneIMEINo1 + '\');">Edit</a>'
                                //return `<a class="fa fa-pencil-square" href="javascript:void(0)" style="font-size: 16pt;color: red;" onclick="openpopupmodal(${row.id},'${row.phoneNumber}','${row.phoneIMEINo}','${row.phoneIMEINo1}');"></a>`
                            }
                        },
                        {
                            "data": "IsActive", render: function (data, type, row) {
                                if (row.unAvailable == false) {
                                    return `<a href="javascript:void(0);" onclick="wyzuserActions(${row.id} ,'Deactivate');" style="color:green">Deactivate</a>`;
                                }
                                else {
                                    return `<a href="javascript:void(0);" onclick="wyzuserActions(${row.id} ,'Activate');" style="color:red">Activate</a>`;
                                }
                            }
                        }
                    ],
                    "processing": "true",
                    "serverSide": true,
                    "scrollX": "true",
                    "scrollY": "480",
                    "paging": true,
                    "searching": true,
                    "language": {
                        "processing": "Loading Please Wait.....!"
                    },
                    "initComplete": function (data) {
                        var exception = data.json.exception;
                        if (exception != "" && exception != null) {
                            Lobibox.notify('warning', {
                                continueDelayOnInactiveTab: true,
                                msg: exception
                            });
                        }
                    }
                });
        }
        function wyzuserActions(userId, actionType) {
            var msg;
            if (actionType == "Activate") {
                msg = "Are you sure you want to Activate this User?";
            }
            else if (actionType == "Deactivate") {
                msg = "Are you sure you want to Deactivate this User?";
            }


            Lobibox.confirm({
                msg: msg,
                callback: function ($this, type) {
                    if (type === 'yes') {
                        $('#mainLoader').css({ 'display': 'block' });

                        $.ajax({
                            type: 'POST',
                            "url": siteRoot + "/SuperAdmin/wyzuserActions",
                            datatype: 'json',
                            data: { userId: userId, actionType: actionType },
                            success: function (res) {
                                if (res.success == true) {
                                    if (res.message == "Activate") {

                                        Lobibox.notify('success', {
                                            continueDelayOnInactiveTab: true,
                                            msg: 'Activated Successfully'
                                        });
                                    }
                                    else if (res.message == "Deactivate") {
                                        Lobibox.notify('success', {
                                            continueDelayOnInactiveTab: true,
                                            msg: 'Deactivated Successfully'

                                        });
                                    }
                                    else {
                                        Lobibox.notify('info', {
                                            continueDelayOnInactiveTab: true,
                                            msg: 'Something Went Wrong!'
                                        });
                                    }
                                    GetDetails();
                                    $('#mainLoader').css({ 'display': 'none' });
                                }
                                else if (res.success == false) {
                                    Lobibox.notify('warning', {
                                        continueDelayOnInactiveTab: true,
                                        msg: res.message
                                    });
                                    $('#mainLoader').css({ 'display': 'none' });
                                }
                            }, error(error) {
                                $('#mainLoader').css({ 'display': 'none' });

                            }
                        });
                    }
                }
            });
        }

        function GetUploads() {
            var codePath = window.location.href;
            codePath = codePath.toLowerCase();
            var callIndex = codePath.indexOf('superadmin');
            var callPath = codePath.substr(callIndex, (codePath.length - 1));
            codePath = codePath.replace(callPath, '');
            $("#tbluserUploads").DataTable(
                {
                    "destroy": true,
                    "ajax": {
                        "url": siteRoot + "/SuperAdmin/creGetUploads",
                        "type": "GET",
                        "datatype": "json",
                        "error": function (xhr, error, thrown) { console.log(xhr, error, thrown); }
                    },
                    "columns": [
                        { "data": "fileName", },
                        {
                            "data": "uploadedPath", "render": function (data, type, row) {


                                if (row.uploadedPath != null) {

                                    var downloadPath = row.uploadedPath.substr(row.uploadedPath.indexOf('UploadedFiles'));
                                    return "<a href='" + codePath + downloadPath + "' class='downloadFiles' download>" + row.fileName + "</a>";

                                }
                                else {
                                    return "-";
                                }

                            }
                        },
                        {
                            "data": "discardedPath", "render": function (data, type, row) {
                                if (row.discardedPath != null) {
                                    var downloadPath = row.discardedPath.substr(row.discardedPath.indexOf('UploadedFiles'));
                                    return "<a href='" + codePath + downloadPath + "' class='downloadFiles' download>" + row.fileName + "</a>";

                                }
                                else {
                                    return "-";
                                }


                            }
                        },
                        {
                            "data": "duplicateCREPath", "render": function (data, type, row) {
                                if (row.duplicateCREPath != null) {

                                    var downloadPath = row.duplicateCREPath.substr(row.duplicateCREPath.indexOf('UploadedFiles'));
                                    return "<a href='" + codePath + downloadPath + "' class='downloadFiles' download>" + row.fileName + "</a>";

                                }
                                else {
                                    return "-";
                                }

                            }
                        },
                        { "data": "totalRecords" },
                        {
                            "data": "Action", render: function (data, type, row) {
                                return row.totalUploaded + "/" + row.totalDiscarded;
                            }
                        },

                        {
                            "data": "uploadedDate", "render": function (data, type, row) {
                                return parseJsonDateTime(row.uploadedDate);
                            }
                        },
                        { "data": "uploadedTime" }
                    ],
                    "processing": "true",
                    "serverSide": true,
                    "scrollX": "true",
                    "scrollY": "480",
                    "paging": true,
                    "searching": true,
                    "language": {
                        "processing": "Loading Please Wait.....!"
                    },
                    "initComplete": function (data) {
                        var exception = data.json.exception;
                        if (exception != "" && exception != null) {
                            Lobibox.notify('warning', {
                                continueDelayOnInactiveTab: true,
                                msg: exception
                            });
                        }
                    }
                });
        }

        function openpopupmodal(wyzuserId, phonenumber, imei1, imei2) {
            $('#txtwyzuserId').val(wyzuserId);
            if (phonenumber.length > 0 && phonenumber != "null") {
                $('#popUpPhone').val(phonenumber.slice(3));
            }
            else {
                $('#popUpPhone').val("");
            }
            if (imei1 === "null") {
                imei1 = "";
            }
            if (imei2 === "null") {
                imei2 = "";
            }
            $('#popUpimei').val(imei1);
            //$('#popUpimei1').val(imei2);
            $("#myModal").modal("show");

        }



        function updatePhoneAndIMEI() {

            var newPhone = $("#popUpPhone").val();
            var newImei = $("#popUpimei").val();
            //var newImei1 = $("#popUpimei1").val();
            var wyzid = $('#txtwyzuserId').val();
            if (newPhone.length < 10) {
                Lobibox.notify('warning', {
                    continueDelayOnInactiveTab: true,
                    msg: 'Enter Valid Phone Number.'
                });
                return false;
            } if (newImei.length < 5 ) {
                Lobibox.notify('warning', {
                    continueDelayOnInactiveTab: true,
                    msg: 'IMEI 1 Number length should be 5'
                });
                return false;
            }
            //if (newImei1.length > 0 && newImei1.length < 10) {
            //    Lobibox.notify('warning', {
            //        continueDelayOnInactiveTab: true,
            //        msg: 'IMEI 2 Number length should be 15'
            //    });
            //    return false;
            //}
            $('#mainLoader').css({ 'display': 'block' });
            $.ajax({
                url: siteRoot + "/SuperAdmin/editPhoneAndIMEI/",
                type: 'post',
                dataType: 'json',
                data: { id: wyzid, newPhone: newPhone, newImei: newImei }, //, newImei1: newImei1
                success: function (res) {
                    if (res.success) {
                        $('#mainLoader').css({ 'display': 'none' });
                        $("#popUpPhone").val("");
                        $("#popUpimei").val("");
                        //$("#popUpimei1").val("");

                        Lobibox.notify('success', {
                            msg: "User updated successfully"
                        });
                        $("#myModal").modal("hide");
                        GetDetails();
                        GetUploads();
                        $('#mainLoader').css({ 'display': 'none' });
                    }
                    else {
                        Lobibox.notify('error', {
                            msg: res.exception
                        });
                        $('#mainLoader').css({ 'display': 'none' });

                    }
                }
            });
        }

        function DownloadExcel() {

            $.ajax({
                type: "POST",
                url: siteRoot + "/SuperAdmin/ExcelExport/",
                data: {},

                cache: false,
                success: function (data) {
                    debugger;
                    window.location = siteRoot + '/FileUpload/Download/';
                },
                error: function (data) {
                    Materialize.toast("Something went wrong. ", 3000, 'rounded');
                }
            });
        }

        function DownloadExcelSheet_CREDetails() {

            $.ajax({
                type: "POST",
                url: siteRoot + "/SuperAdmin/DownloadExcelCREDetails/",
                data: {},

                cache: false,
                success: function (data) {
                    debugger;
                    window.location = siteRoot + '/FileUpload/DownloadExlCREDetails/';
                },
                error: function (data) {
                    Materialize.toast("Something went wrong. ", 3000, 'rounded');
                }
            });
        }

        function saveComplete() {

        }
        function saveFailure() {

        }
                //function loadDealerDetails() {

                //    $("#tbldealerDetails").DataTable(
                //        {
                //            "destroy": true,
                //            processing: true,
                //            serverSide: false,
                //            info: true,
                //            "ajax": {
                //                "url": siteRoot + "/SuperAdmin/loadDealerDetails",
                //                "type": "GET",
                //                "datatype": "json"

                //            },
                //            "columns": [
                //                { "data": "DealerCode", },
                //                { "data": "DealerName" }
                //            ],
                //            order: [],
                //            "scrollY": "200px",
                //            "pageLength": 100,
                //            select: true,
                //            responsive: true,
                //            "initComplete": function (data) {
                //                var exception = data.json.exception;
                //                if (exception != "" && exception != null) {
                //                    Lobibox.notify('warning', {
                //                        continueDelayOnInactiveTab: true,
                //                        msg: exception
                //                    });
                //                }
                //            }
                //        });

                //}
    </script>
}
